<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/global.css" />
    <title>Home</title>
  </head>
  <body>
    <div id="app">
      <!-- <%- include('./partials/header.ejs') %>

      <div class="safe-area"></div> -->

      <h1>Home Page</h1>
      <a href="/login">Entrar</a>
    </div>
  </body>
</html>
