<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/global.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="auth">
      <form method="post" class="auth-form anime-left">
        <div class="auth-form__title">
          <h3>Login</h3>
          <p>Acessar sua conta para continuar</p>
        </div>

        <div class="auth-form__fields">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              value="<%= fields.email %>"
              required
            />
          </div>

          <div class="form-group">
            <label for="password">Senha</label>
            <input
              type="password"
              id="password"
              name="password"
              value="<%= fields.password %>"
              required
            />
          </div>

          <button type="submit">Entrar</button>
        </div>

        <% if (typeof error !== 'undefined') { %>
        <p class="error"><%= error %></p>
        <% } %>
      </form>
    </div>
  </body>
</html>

<script>
  const inputs = document.querySelectorAll("input");
  const error = document.querySelector(".error");

  inputs.forEach((input) => {
    input.addEventListener("input", () => {
      error.textContent = "";
    });
  });
</script>
